<!DOCTYPE html>
<html ng-app="home" class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->

    <script type="text/javascript" src="../../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="../scripts/controllers/main.js"></script>
    <script type="text/javascript" src="../scripts/app.js"></script>

    <!--<link rel="stylesheet" href="./styles/carolstyle.css" >-->
    <link rel="stylesheet" href="../styles/main.css">



    <link rel="stylesheet" href="../styles/main.css">

    <!-- endbuild -->
  </head>
  <body ng-controller="HomeController as home">
    <!--[if lt IE 7]-->

    <div class="header">

      <div>
        <h1 class="leftBuffer">HayStack</h1>
      </div>

    </div>


    <div class="post-row">
      {{home.post.vote}}
      <h3 class="pull-right">{{home.post.name}}</h3>


    </div>


    <div>
      <!--<blockquote ng-repeat="post in posts">-->
        <!--<form name="submitForm" ng-controller="PostController as PostCtrl">-->
          <!--<textarea ng-model="post.body"></textarea>-->
          <!--<input type="submit" value="post" ng-submit="PostCtrl"/>-->
        <!--</form>-->
      <!--</blockquote>-->



    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="../scripts/app.js"></script>
    <!--<script src="../bower_components/angular/angular.js"></script>-->
    <!--<script src="../bower_components/angular/angular-route.js"></script>-->
    <script src="../scripts/controllers/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
